@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    outline-style:initial;
    outline-color: red;
}

text{
    color:#fff;
    font-family: sans-serif;
}

body {
    display: grid;
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
    background-color: #000;
}

p{
    justify-self: center;
    color:#fff;
    font-family: sans-serif;
}

#title{
    display: grid;
    justify-content: center;
    text-align: left; 
    color:#fff;
    font-size: 5em;
    background-color: #000;
    text-decoration: underline 10%;
    animation: 2s ease-out 0s 1 Fadein;
}

#Inputs {
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: auto;
    width: 40%;
    background-color: cornflowerblue;
}

#file {
    color:green;
}

#form {
    display: flex;
    width:80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    height:80%;
    justify-content: space-between;
    flex-direction: column;
    justify-self: center;
}

#message-box{
    display: flex;
    background-color: black;
    margin: 5%;
    width: 90%;
}

#footer {
    display: flex;
    justify-self: center;
    color:#fff;
}

#return-home {
    display:flex;
    justify-self: center;
    color:#fff;
    background-color: #000;
}

/*
#return-home:hover {

}
*/