* {
    outline-style:initial;
    outline-color: blue;
}

body {
    display: grid;
}

#form {
    display: flex;
    width:40%;
    height:auto;
    justify-content: space-between;
    flex-direction: row;
    justify-self: center;
}

#message-box{
    display: flex;
    background-color: blue;
}

#footer {
    display: flex;
}